backups/top-rated-coach-ai/E7kXqgU4iMB7Gzl5.json
{
  "createdAt": "2025-09-12T11:47:08.775Z",
  "updatedAt": "2025-09-17T14:51:01.000Z",
  "id": "E7kXqgU4iMB7Gzl5",
  "name": "Delete USER  - DANGER",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "a798564a-99fe-4380-a629-0040a5c1651e",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "={{$vars.SupabaseDBUrl}}/chat_messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "session_id",
              "value": "=eq.{{ $('GET Chat Session').item.json.id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $vars.Supabase_API_Key }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.Supabase_Service_Role }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        0
      ],
      "id": "cc98b666-8b0c-487b-a2e6-49e59f845a25",
      "name": "DELETE ALL CHAT MESSAGES"
    },
    {
      "parameters": {
        "url": "={{$vars.SupabaseDBUrl}}/chat_sessions",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "user_id",
              "value": "=eq.cc3d6426-5b17-499a-9deb-a61f47796415"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$vars.Supabase_API_Key}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.Supabase_Service_Role }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        0
      ],
      "id": "30ae5d3d-3c20-4ebb-8f1c-1607bd086518",
      "name": "GET Chat Session"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "={{$vars.SupabaseDBUrl}}/chat_archived_summaries",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "user_id",
              "value": "=eq.{{ $('GET Chat Session').item.json.user_id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $vars.Supabase_API_Key }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.Supabase_Service_Role }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        672,
        0
      ],
      "id": "e517b51c-d889-4b1b-800f-8e08e4754ca9",
      "name": "DELETE ALL CHAT SUMMARIES"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "={{$vars.SupabaseDBUrl}}/personality_analysis_log",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "user_id",
              "value": "=eq.{{ $('GET Chat Session').item.json.user_id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $vars.Supabase_API_Key }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.Supabase_Service_Role }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        896,
        0
      ],
      "id": "249f2ecb-5dc9-408e-a191-6b855a1cb5a3",
      "name": "DELETE PERSONALITY ANALYSIS LOG"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "={{$vars.SupabaseDBUrl}}/personality_message_tracker",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "user_id",
              "value": "=eq.{{ $('GET Chat Session').item.json.user_id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $vars.Supabase_API_Key }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.Supabase_Service_Role }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        0
      ],
      "id": "13740d4c-203f-49d3-a2f8-6dc3187055ae",
      "name": "DELETE PERSONALITY MESSAGE TRACKER"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "={{$vars.SupabaseDBUrl}}/user_personality",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "user_id",
              "value": "=eq.{{ $('GET Chat Session').item.json.user_id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $vars.Supabase_API_Key }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.Supabase_Service_Role }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1344,
        0
      ],
      "id": "a523cd4b-2541-4cce-8c0a-352d0c3bd241",
      "name": "DELETE USER PERSONALITY"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "={{$vars.SupabaseDBUrl}}/chat_sessions",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "user_id",
              "value": "=eq.{{ $('GET Chat Session').item.json.user_id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $vars.Supabase_API_Key }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.Supabase_Service_Role }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1568,
        0
      ],
      "id": "c746fed2-bb8c-44d9-b0b5-46c54e544db4",
      "name": "DELETE CHAT SESSION"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "={{$vars.SupabaseDBUrl}}/users",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "=eq.{{ $('GET Chat Session').item.json.user_id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $vars.Supabase_API_Key }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.Supabase_Service_Role }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2016,
        0
      ],
      "id": "b80d342f-2450-4c6e-80dd-09b9fcdf6036",
      "name": "DELETE USER"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "={{$vars.SupabaseDBUrl}}/referrals",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "referred_user_id",
              "value": "=eq.{{ $('GET Chat Session').item.json.user_id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $vars.Supabase_API_Key }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.Supabase_Service_Role }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1792,
        0
      ],
      "id": "e484f4ed-5b63-403e-8ba6-17c58b2dcade",
      "name": "DELETE REFERRALS"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "GET Chat Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DELETE ALL CHAT MESSAGES": {
      "main": [
        [
          {
            "node": "DELETE ALL CHAT SUMMARIES",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Chat Session": {
      "main": [
        [
          {
            "node": "DELETE ALL CHAT MESSAGES",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DELETE ALL CHAT SUMMARIES": {
      "main": [
        [
          {
            "node": "DELETE PERSONALITY ANALYSIS LOG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DELETE PERSONALITY ANALYSIS LOG": {
      "main": [
        [
          {
            "node": "DELETE PERSONALITY MESSAGE TRACKER",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DELETE PERSONALITY MESSAGE TRACKER": {
      "main": [
        [
          {
            "node": "DELETE USER PERSONALITY",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DELETE USER PERSONALITY": {
      "main": [
        [
          {
            "node": "DELETE CHAT SESSION",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DELETE CHAT SESSION": {
      "main": [
        [
          {
            "node": "DELETE REFERRALS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DELETE REFERRALS": {
      "main": [
        [
          {
            "node": "DELETE USER",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "19e1fe02-f9bb-4160-a11d-22da4b1c2c67",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-09-12T11:47:08.779Z",
      "updatedAt": "2025-09-12T11:47:08.779Z",
      "role": "workflow:owner",
      "workflowId": "E7kXqgU4iMB7Gzl5",
      "projectId": "LuK1n39yspgZn4ID",
      "project": {
        "createdAt": "2025-06-03T10:24:12.778Z",
        "updatedAt": "2025-06-03T11:30:21.622Z",
        "id": "LuK1n39yspgZn4ID",
        "name": "Fuzail Sohail <fuzailsohail40@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-06-03T10:24:12.781Z",
            "updatedAt": "2025-06-03T10:24:12.781Z",
            "userId": "9ba5b413-59b6-4d30-ad4b-75763cd3a374",
            "projectId": "LuK1n39yspgZn4ID",
            "user": {
              "createdAt": "2025-06-03T10:24:12.776Z",
              "updatedAt": "2025-10-15T07:00:00.000Z",
              "id": "9ba5b413-59b6-4d30-ad4b-75763cd3a374",
              "email": "fuzailsohail40@gmail.com",
              "firstName": "Fuzail",
              "lastName": "Sohail",
              "personalizationAnswers": null,
              "settings": {
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "CcHBrELrSsWhXNYT",
                "userActivated": true,
                "userActivatedAt": 1750330808510,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1753277941726
                }
              },
              "disabled": false,
              "mfaEnabled": true,
              "lastActiveAt": "2025-10-15",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "createdAt": "2025-08-14T20:27:52.072Z",
      "updatedAt": "2025-08-14T20:27:52.072Z",
      "id": "CbQQ2nfApBR0i0Ru",
      "name": "TopRatedCoachAI"
    }
  ]
}