backups/top-rated-coach-ai/EfYDJOTVlmhYLVkb.json
{
  "createdAt": "2025-09-25T10:43:47.711Z",
  "updatedAt": "2025-10-27T04:04:06.000Z",
  "id": "EfYDJOTVlmhYLVkb",
  "name": "Website Audit TopRatedCoach",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        672,
        -176
      ],
      "id": "9e4507d9-635d-44f3-8fcb-a7540b895198",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "// Enhanced website data extraction with OpenAI analysis\nconst input = $input.first()?.json || {};\n\nconsole.log(\"=== ENHANCED WEBSITE DATA EXTRACTION ===\");\nconsole.log(\"Input structure:\", Object.keys(input));\n\n// Extract raw HTML content\nlet rawHtml = '';\n\nif (input.website_data && Array.isArray(input.website_data)) {\n    rawHtml = input.website_data.join(' ');\n} else if (typeof input.website_data === 'string') {\n    rawHtml = input.website_data;\n} else if (input.Services && Array.isArray(input.Services)) {\n    // Fallback for existing \"Services\" key\n    rawHtml = input.Services.join(' ');\n} else if (typeof input.Services === 'string') {\n    rawHtml = input.Services;\n} else {\n    // Try to find the largest text content\n    const allValues = Object.values(input);\n    for (const value of allValues) {\n        if (typeof value === 'string' && value.length > 100) {\n            rawHtml = value;\n            break;\n        }\n    }\n}\n\nconsole.log(\"Raw HTML length:\", rawHtml.length);\n\n// Clean HTML for better analysis (remove excess whitespace and scripts)\nconst cleanedHtml = rawHtml\n    // Remove script and style tags entirely\n    .replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '')\n    .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '')\n    \n    // Remove comments\n    .replace(/<!--[\\s\\S]*?-->/g, '')\n    \n    // Normalize whitespace\n    .replace(/\\s+/g, ' ')\n    .trim();\n\nconsole.log(\"Cleaned HTML length:\", cleanedHtml.length);\n\n// Prepare for OpenAI analysis - truncate if too long (keep under 100K chars)\nconst maxLength = 100000;\nlet analysisContent = cleanedHtml;\n\nif (analysisContent.length > maxLength) {\n    // Try to keep the most important parts\n    const parts = analysisContent.split(/(?=<(?:header|main|section|div[^>]*class[^>]*(?:content|about|service|team))|<h[1-6])/i);\n    \n    let truncatedContent = '';\n    for (const part of parts) {\n        if (truncatedContent.length + part.length <= maxLength) {\n            truncatedContent += part;\n        } else {\n            break;\n        }\n    }\n    \n    analysisContent = truncatedContent || analysisContent.substring(0, maxLength);\n    console.log(\"Content truncated to:\", analysisContent.length, \"characters\");\n}\n\n// Create the analysis prompt\nconst analysisPrompt = `Analyze the provided HTML content and extract the following information. Present the output as a JSON object with the specified structure.\n\n**JSON Structure:**\n\\`\\`\\`json\n{\n  \"business_owner\": {\n    \"name\": null,\n    \"description\": null\n  },\n  \"services_promoted\": [],\n  \"external_marketing_services\": [],\n  \"social_media_profiles\": []\n}\n\\`\\`\\`\n\n**Extraction Details:**\n\n**business_owner** (object or null):\n- **name** (string or null): Identify the name of the primary business owner, founder, director, principal, or key responsible individual (e.g., \"Dr. John Smith\", \"Coach Jane Doe\", \"Founder Alex Lee\"). Look for names explicitly associated with leadership roles in \"About Us\", \"Meet Our Team\", \"Medical Director\", or similar sections. If found, provide the full name. If not explicitly found, return null.\n- **description** (string or null): If a name is found, look for a concise description about this individual's role, philosophy, or key contributions. Extract a coherent paragraph or sentences directly related to them. If no description is found, return null.\n\n**services_promoted** (array of strings): Identify distinct services, classes, programs, memberships, treatments, or offerings. Look in navigation menus, service sections, or detailed descriptions. Prioritize specific service names over general categories.\n\n**external_marketing_services** (array of objects): Identify third-party services for:\n- Lead Management/Generation (pop-ups, chat widgets, newsletter sign-ups)\n- Scheduling/Appointments (booking systems, appointment forms, call tracking)\n- Payments Processing (payment plans like Cherry, CareCredit, rewards like Aspire, Alle)\nFor each service: {\"name\": \"ServiceName\", \"purpose\": [\"Lead Management\"|\"Scheduling\"|\"Payments\"], \"url\": \"optional_base_url\"}\n\n**social_media_profiles** (array of objects): Find direct links to official social media profiles. For each: {\"platform\": \"PlatformName\", \"url\": \"full_profile_url\"}\n\n**HTML Content:**\n${analysisContent}`;\n\n// Return the prepared data for OpenAI analysis\nreturn [{\n    json: {\n        htmlContent: analysisContent,\n        analysisPrompt: analysisPrompt,\n        originalLength: rawHtml.length,\n        cleanedLength: cleanedHtml.length,\n        analysisLength: analysisContent.length,\n        truncated: analysisContent.length < cleanedHtml.length,\n        \n        // Legacy fields for compatibility\n        fullText: analysisContent.substring(0, 1000) + \"...\", // First 1000 chars for compatibility\n        targetLength: analysisContent.length,\n        compressionRatio: ((rawHtml.length - analysisContent.length) / rawHtml.length * 100).toFixed(1) + \"%\"\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2288,
        -336
      ],
      "id": "49244f02-33a8-464a-85bc-6ae83a608c94",
      "name": "HTML Text Cleaning"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://production-sfo.browserless.io/content?token=2SbzME1uUu5Pj2rdbd919710f04f1b51cff52ce6540521d42",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\": \"application/json\"\n}\n",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"{{ $('Get Business details').item.json.website }}\",\n  \"gotoOptions\": {\n    \"waitUntil\": \"networkidle2\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1840,
        -336
      ],
      "id": "3c638bed-e9d4-4cee-a3dd-384d5c4e52ba",
      "name": "Website Text Scraping",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "website_data",
              "cssSelector": "body",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        2064,
        -336
      ],
      "id": "284ac43b-880d-450a-90d0-be5a513e7170",
      "name": "HTML For Services",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Essential JSON extraction from website analysis OpenAI response\nconst input = $input.first()?.json || {};\n\nconsole.log(\"=== EXTRACTING JSON FROM WEBSITE ANALYSIS ===\");\n\nlet parsedData = null;\n\n// Extract content from OpenAI response\nif (input.message && input.message.content) {\n    const content = input.message.content;\n    console.log(\"Found OpenAI content, length:\", content.length);\n    \n    // Extract JSON from code blocks\n    const jsonMatch = content.match(/```json\\s*([\\s\\S]*?)\\s*```/);\n    if (jsonMatch && jsonMatch[1]) {\n        const jsonContent = jsonMatch[1].trim();\n        console.log(\"✅ Extracted JSON from code blocks\");\n        \n        try {\n            parsedData = JSON.parse(jsonContent);\n            console.log(\"✅ Successfully parsed JSON\");\n            console.log(\"Business Owner Name:\", parsedData.business_owner?.name || \"NOT FOUND\");\n            console.log(\"Services Count:\", parsedData.services_promoted?.length || 0);\n            console.log(\"External Services Count:\", parsedData.external_marketing_services?.length || 0);\n            console.log(\"Social Media Count:\", parsedData.social_media_profiles?.length || 0);\n            \n            // Log social media specifically\n            if (parsedData.social_media_profiles && parsedData.social_media_profiles.length > 0) {\n                console.log(\"Social Media Platforms:\", parsedData.social_media_profiles.map(p => p.platform).join(', '));\n            }\n            \n        } catch (error) {\n            console.log(\"❌ JSON parsing error:\", error.message);\n        }\n    } else {\n        console.log(\"❌ No JSON code blocks found\");\n        console.log(\"Content preview:\", content.substring(0, 200) + \"...\");\n    }\n} else {\n    console.log(\"❌ No OpenAI content found\");\n}\n\n// Return the extracted data - this is what goes to the merge node\nreturn [{\n    json: {\n        websiteData: parsedData || {\n           business_owner: { name: null, description: null },  // ✅ Object format\n            services_promoted: [],\n            external_marketing_services: [],\n            social_media_profiles: []\n        },\n        extractionSuccess: !!parsedData,\n        extractedAt: new Date().toISOString()\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2864,
        -336
      ],
      "id": "091fc746-b643-4c5d-8160-f28df09b2fc8",
      "name": "Extract JSON"
    },
    {
      "parameters": {
        "content": "Website HTML Analysis",
        "height": 260,
        "width": 1484,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1552,
        -400
      ],
      "id": "5175cefc-7ac6-4be5-a4f0-38f68dd916b2",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "messages": {
          "values": [
            {
              "content": "=Analyze the provided HTML content and extract the following information. Present the output as a JSON object with the specified structure.\n\n**JSON Structure:**\n```json\n{\n  \"business_owner\": {\n    \"name\": null,\n    \"description\": null\n  },\n  \"services_promoted\": [],\n  \"external_marketing_services\": [],\n  \"social_media_profiles\": []\n}\n   \nExtraction Details:\nbusiness_owner (object or null):\nname (string or null):\nIdentify the name of the primary business owner, founder, director, principal, or key responsible individual (e.g., \"Dr. John Smith\", \"Coach Jane Doe\", \"Founder Alex Lee\").\nLook for names explicitly associated with leadership roles in \"About Us\", \"Meet Our Team\", \"Medical Director\", or similar introductory sections.\nIf found, provide the full name as a string. If not explicitly found, return null.\n\n\ndescription (string or null):\nIf a name is found, look for a concise textual description about this individual's role, philosophy, or key contributions to the business.\nPrioritize text directly following their name or within the same section (e.g., from an \"About Us\", \"Meet Dr. X\", or \"Our Philosophy\" section).\nExtract a coherent paragraph or a few sentences. Do not include unrelated content.\nIf a name is found but no specific description, return null for the description field.\nIf no business_owner name is found, the entire business_owner object should have null for both name and description.\n\nservices_promoted (array of strings, if available):\nIdentify distinct services, classes, programs, memberships, treatments, or offerings promoted on the website.\nLook for names listed in navigation menus, main content sections (e.g., headings like \"Our Services\", \"Classes Offered\", \"Programs\"), or within detailed product/service descriptions.\nPrioritize specific service names over very general categories if both are present and clearly distinct (e.g., \"Spin Class\" instead of just \"Fitness\").\nIf no services are identifiable, provide an empty array [].\n\nexternal_marketing_services (array of objects, if available):\nIdentify external third-party services (plugins, widgets, embedded tools) specifically used for:\nLead Management/Generation (e.g., pop-ups, chat widgets, newsletter sign-ups).\nScheduling/Appointments (e.g., online booking systems, appointment request forms, call tracking services).\nPayments Processing.\n\n\nFor each identified service, provide an object with:\n\"name\" (string): The common name of the service/company (e.g., \"Mindbody\", \"Square\", \"CallRail\").\n\"purpose\" (array of strings): One or more of [\"Lead Management\", \"Scheduling\", \"Payments\"].\n\"url\" (string, optional): The base URL associated with the service (e.g., from src attributes of scripts/iframes or href attributes of direct links to their platforms), if clearly identifiable. If not, omit this key.\nIf no such services are identifiable, provide an empty array [].\n\nsocial_media_profiles (array of objects, if available):\nFind direct links (<a> tags with href attributes) to the website's official social media profiles.\nLook in headers, footers, or within embedded social media feeds/scripts.\nFor each profile, provide an object with:\n\"platform\" (string): The name of the social media platform (e.g., \"Facebook\", \"Instagram\", \"TikTok\", \"LinkedIn\", \"YouTube\", \"Pinterest\", \"Twitter\", etc.).\n\"url\" (string): The full URL of the social media profile.\n\nIf no social media profiles are identifiable, provide an empty array [].\n\n\nHTML Content: {{ $json.htmlContent }}\n"
            }
          ]
        },
        "simplify": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2512,
        -336
      ],
      "id": "22ae7035-8b73-404d-9f12-4117b4d4eefd",
      "name": "HTML Analysis",
      "credentials": {
        "openAiApi": {
          "id": "PtDgWP5hIvqUiw6Q",
          "name": "OpenAI API Key"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const rawOutputItem = $input.first().json;\n\nconst rawOutputText = rawOutputItem.candidates[0].content.parts[0].text;\n\nlet jsonString;\n\n// Match JSON inside ```json ... ``` or ``` ... ```\nconst match = rawOutputText.match(/```(?:json)?\\s*([\\s\\S]*?)\\s*```/i);\n\nif (match && match[1]) {\n  jsonString = match[1].trim();\n} else {\n  // If no markdown match, assume raw JSON\n  jsonString = rawOutputText.trim();\n}\n\nlet parsed;\n\ntry {\n  parsed = JSON.parse(jsonString);\n} catch (error) {\n  throw new Error(\"Failed to parse JSON from AI response. Raw content:\\n\" + rawOutputText);\n}\n\nreturn [{ json: parsed }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2304,
        -608
      ],
      "id": "22d7472e-82f0-44bd-acb5-a5ad1d33599f",
      "name": "Parse AI Analysis Output into JSON"
    },
    {
      "parameters": {
        "url": "={{$vars.SupabaseDBUrl}}/businesses",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "=eq.ChIJ03GydmLj2IgRC5OggGgNrwU"
            },
            {
              "name": "select",
              "value": "=id,business_name,website,business_category"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$vars.Supabase_API_Key}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.Supabase_Service_Role }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        896,
        -176
      ],
      "id": "7f7dd00a-223b-4b0c-95dc-631fe5041fa0",
      "name": "Get Business details"
    },
    {
      "parameters": {
        "url": "=https://api.screenshotone.com/animate",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_key",
              "value": "={{ $vars.ScreenShotOne_TopRatedCoachAI_ACCESS_KEY }}"
            },
            {
              "name": "url",
              "value": "={{ $('Get Business details').item.json.website }}"
            },
            {
              "name": "format",
              "value": "mp4"
            },
            {
              "name": "block_ads",
              "value": "true"
            },
            {
              "name": "block_cookie_banners",
              "value": "true"
            },
            {
              "name": "block_banners_by_heuristics",
              "value": "true"
            },
            {
              "name": "block_trackers",
              "value": "true"
            },
            {
              "name": "delay",
              "value": "0"
            },
            {
              "name": "timeout",
              "value": "60"
            },
            {
              "name": "wait_until",
              "value": "load"
            },
            {
              "name": "viewport_width",
              "value": "1920"
            },
            {
              "name": "viewport_height",
              "value": "1080"
            },
            {
              "name": "device_scale_factor",
              "value": "1"
            },
            {
              "name": "wait_until",
              "value": "domcontentloaded"
            },
            {
              "name": "scenario",
              "value": "default"
            },
            {
              "name": "duration",
              "value": "5"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "secret-key",
              "value": "={{ $vars.ScreenShotOne_TopRatedCoachAI_SECRET }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "file"
            }
          },
          "timeout": 300000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1856,
        -608
      ],
      "id": "29dd0bfa-c4b5-425b-8afe-40d8c889bd22",
      "name": "Take Video of Hero Section Desktop",
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "=Act as CHET HOLMES, the legendary strategist and author of The Ultimate Sales Machine. You are auditing the website screen recording for the business {{ $('Get Business details').item.json.business_name }}. Your tone must be BRUTAL, HONEST, and focused solely on revenue-driving efficacy and conversion rates. Your analysis must be grounded in the 3-Second Rule and the 4 Rules for High-Response-Generating Advertising.\n\nCrucial Instruction: Your analysis will look beyond the surface design and evaluate the psychological, strategic, and conversion-focused performance of the Hero Section as a self-contained \"advertising piece.\"\nAnalyze the provided website screen recording . Based on the criteria below, provide a success score for each area from 0 to 20, where 0 is the lowest (complete failure to execute the principle) and 20 is the highest (masterful execution).\n\nEvaluation Areas of HERO Section (The Advertising Piece)\nCriteria Core Chet Holmes Principle\n\nCriteria 1 - Visual Design (0-20)\n Rule 1: It Must Be Distinctive, It should target business's niche market.\n Rule 2: Visual Elements present business without having to read the text. It should describe product/service visually without needing text, attract attention, remember 55% of communication is visual and the website must reflect this. \nif website uses logo as the primary image, Immediately give it a zero for this criteria.\n\nCriteria 2 - Headlines (0-20)\n Rule 1: Capture Attention with a Screaming Headline. It must instantly tell viewer what you want to tell in 3.2 seconds.\n\nCriteria 3 - Body Copy/Messaging (0-20)\n Rule 1: After Your Headline Hooks Them, Your Body Copy Has to Keep Them Reading (Focus on Benefits). It should Focus on the prospect, not the business. Emphasize benefits, not features. It should Use bullet points or short sub-headlines for rapid readability.\n\nCriteria 4 - Call to Action (0-20)\n Rule 1: Include a Call to Action (A Reason to Act Now). A CTA must give a reason to choose this business over competitors (offer, bonus, benefit). It must create urgency or limited availability to push immediate action.\n\nCriteria 5 - Conversion Integrity & Social Proof (0-20)\n Rule 1: Social Proof & The 3-Second Rule Integrity. Does it display reviews, testimonials, ratings, or credibility data? Other people’s opinions are more persuasive than anything you say about yourself.\n\nDetailed Scoring Breakdown\nCriteria 1 - Visual Design in Hero Section (0-20):\n Are pictures outstanding, distinctive, and high-quality? (Not generic stock/blurry)\n Does the visual immediately attract attention and interrupt the mind?\n Does the visual composition target their niche market ({{ $('Get Business details').item.json.business_category }}) ?\n Is the visual element and professional design strong enough to pass the 3-Second Rule's immediate trust test? \n\nCriteria 2 - Headlines (0-20):\n Does the headline \"Scream\" and immediately convey a compelling benefit?\n Is the headline right length to be read in in 3.2 seconds (short, 6 words maximum is ideal)?\n Does the headline alone communicate the Core Story and the unique value proposition of the business?\n Does it focus on \"you\" or \"your\" (prospect) and not \"we\" or \"our\" (business)?\n\nCriteria 3 - Body Copy on Hero Section (0-20):\n Does the copy unfold the story and compel the prospect to read on?\n Does the copy focus on the prospect's benefit/pain points—not on the business's features or history?\n Is it formatted for rapid consumption (bullet points, short lines, high readability)?\n\nCriteria 4 - Call to Action (0-20):\n Does the first fold have a visible, high-contrast Call to Action (CTA)?\n Is the CTA text itself a benefit (e.g., \"Get Your Free Training Plan\") rather than a command?\n Is there an irresistible offer, bonus, or reason for taking action NOW (Sense of urgency or limited availability)?\n Is there an obvious secondary, low-commitment CTA for the 97% of non-ready buyers?\n\nCriteria 5 - Social Proof (0-20):\n Is Social Proof (reviews, credibility badges, years of service, media logos) immediately visible in or right after the Hero Section?\n Is the overall message persuasive enough to convince the prospect that this company is the only logical choice?\n\n\n### Scoring Format\n\nReturn results strictly in the following JSON structure:\n\n{\n  \"Evaluation\": {\n    \"Criteria 1 - visual design in hero section Score\": \"[Final Score 0-20, number only]\",\n    \"Criteria 1 - visual design in hero section Explanation\": \"[Single-line explanation of the score based on distinctiveness, quality, and 3-Second Rule]\",\n    \"Criteria 2 - headlines Score\": \"[Final Score 0-20, number only]\",\n    \"Criteria 2 - headlines Explanation\": \"[Single-line explanation of the score based on screaming headline, length, benefit, and focus on 'you']\",\n    \"Criterion 3 - copy in the hero section Score\": \"[Final Score 0-20, number only]\",\n    \"Criterion 3 - copy in the hero section Explanation\": \"[Single-line explanation of the score based on focus on prospect benefit/pain, compelling story, and readability]\",\n    \"Criteria 4 - Call to Action Score\": \"[Final Score 0-20, number only]\",\n    \"Criteria 4 - Call to Action Explanation\": \"[Single-line explanation of the score based on visibility, benefit-orientation, urgency/offer, and low-commitment option]\",\n    \"Criteria 5 - Social Proof Score\": \"[Final Score 0-20, number only]\",\n    \"Criteria 5 - Social Proof Explanation\": \"[Single-line explanation of the score based on visibility of social proof, navigation friction, and overall conversion integrity]\"\n  },\n  \"Improvement Ideas\": [\n    \"[Exactly one distinct, brutal, high-impact suggestion focused on the lowest-scoring elements.]\",\n    \"[Exactly one distinct, brutal, high-impact suggestion.]\",\n    \"[Exactly one distinct, brutal, high-impact suggestion.]\"\n  ],\n  \"Great Elements\": [\n    \"[One concise observation about what the site executed successfully.]\",\n    \"[One concise observation]\",\n    \"[One concise observation]\"\n  ],\n  \"Summary\": \"[A detailed paragraph describing all elements that can be improved across the whole website audit, structured as content for a persuasive email pitch. This should cover the failure of the 3-Second Rule, the lack of a screaming headline, the feature-based copy, and the need for a better CTA/Social Proof.]\",\n  \"Score\": \"[Final total score (0-100) as a number only]\"\n}",
        "inputType": "binary",
        "simplify": false,
        "options": {
          "maxOutputTokens": 30000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        2080,
        -608
      ],
      "id": "575b622f-44a5-4938-bbb4-cc4ae490a67b",
      "name": "Desktop Hero Section Website Analysis - GEMINI",
      "credentials": {
        "googlePalmApi": {
          "id": "D2RiEDSGL32dfqGg",
          "name": "Google Gemini(PaLM) Api- FUZAIL"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.screenshotone.com/animate",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_key",
              "value": "={{ $vars.ScreenShotOne_TopRatedCoachAI_ACCESS_KEY }}"
            },
            {
              "name": "url",
              "value": "={{ $('Get Business details').item.json.website }}"
            },
            {
              "name": "format",
              "value": "mp4"
            },
            {
              "name": "block_ads",
              "value": "true"
            },
            {
              "name": "block_cookie_banners",
              "value": "true"
            },
            {
              "name": "block_banners_by_heuristics",
              "value": "true"
            },
            {
              "name": "block_trackers",
              "value": "true"
            },
            {
              "name": "delay",
              "value": "0"
            },
            {
              "name": "timeout",
              "value": "90"
            },
            {
              "name": "wait_until",
              "value": "load"
            },
            {
              "name": "viewport_width",
              "value": "1920"
            },
            {
              "name": "viewport_height",
              "value": "1080"
            },
            {
              "name": "device_scale_factor",
              "value": "1"
            },
            {
              "name": "wait_until",
              "value": "domcontentloaded"
            },
            {
              "name": "scenario",
              "value": "scroll"
            },
            {
              "name": "duration",
              "value": "30"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "secret-key",
              "value": "={{ $vars.ScreenShotOne_TopRatedCoachAI_SECRET }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "file"
            }
          },
          "timeout": 300000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1840,
        -2176
      ],
      "id": "a2a39abf-3daa-4901-adca-6f44be5dac85",
      "name": "  Take Full Page Video - Desktop",
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "amount": "=7",
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1632,
        -608
      ],
      "id": "f6347ef9-b59c-4e7d-99cb-c5df7b0133cc",
      "name": "Randomize Time",
      "webhookId": "5d304f19-a9b0-4b42-ba15-71c3caa20f36",
      "disabled": true
    },
    {
      "parameters": {
        "amount": "=7",
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1616,
        -2176
      ],
      "id": "3c6d4d73-dd0f-4f78-a76d-8647aba0ef85",
      "name": "Randomize Time1",
      "webhookId": "5d304f19-a9b0-4b42-ba15-71c3caa20f36",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const rawOutputItem = $input.first().json;\n\nconst rawOutputText = rawOutputItem.candidates[0].content.parts[0].text.trim();\n\nlet jsonString;\n\n// Regex to capture JSON inside ```json ... ``` or ``` ... ```\nconst match = rawOutputText.match(/```(?:json)?[\\r\\n]+([\\s\\S]*?)```/i);\n\nif (match && match[1]) {\n  jsonString = match[1].trim();\n} else {\n  // If no markdown match, assume raw JSON\n  jsonString = rawOutputText;\n}\n\nlet parsed;\n\ntry {\n  parsed = JSON.parse(jsonString);\n} catch (error) {\n  throw new Error(\"Failed to parse JSON from AI response.\\nExtracted string:\\n\" + jsonString);\n}\n\nreturn [{ json: parsed }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2304,
        -2176
      ],
      "id": "4a8ed9cd-7af0-42ea-b32e-c384a877c965",
      "name": "Parse AI Analysis Output into JSON1",
      "disabled": true
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "=Act as CHET HOLMES, the legendary strategist and author of The Ultimate Sales Machine. You are auditing the FULL LANDING PAGE screen recording for the business {{ $('Get Business details').item.json.business_name }}. Your tone must be BRUTAL, HONEST, and focused solely on revenue-driving efficacy and conversion rates. Your analysis must be grounded in the 3-Second Rule and the 4 Rules for High-Response-Generating Advertising.\n\nCrucial Instruction: Your analysis will look beyond surface design and evaluate the psychological, strategic, and conversion-focused performance of the FULL LANDING PAGE as a self-contained \"advertising machine.\"\n\nEach evaluation area is scored 0 to 20, where 0 = total failure and 20 = masterful execution.\n\n---\n### Evaluation Areas (FULL LANDING PAGE)\n\n**Criteria 1 - Hero Section Visual Design (0-20)**  \n- Rule: Must be distinctive, niche-targeted, and instantly communicate the offer visually.  \n- If the logo is the primary image → score is 0.  \n\n**Criteria 2 - Hero Section Headlines (0-20)**  \n- Rule: Screaming, benefit-driven headline that captures attention in 3.2 seconds.  \n\n**Criteria 3 - Hero Section Copy (0-20)**  \n- Rule: Prospect-focused, benefit-driven body copy; rapid readability with bullets/sub-headlines.  \n\n**Criteria 4 - Hero Section CTA (0-20)**  \n- Rule: Visible, benefit-oriented, urgency-driven CTA with a secondary low-commitment option.  \n\n**Criteria 5 - Hero Section Social Proof (0-20)**  \n- Rule: Reviews, ratings, credibility badges, or authority signals visible above the fold or immediately after.  \n\n**Criteria 6 - Mid-Page Storytelling & Authority (0-20)**  \n- Rule: Expands the hook into a persuasive narrative; builds authority, credibility, and empathy with the customer.  \n\n**Criteria 7 - Offer & Risk Reversal (0-20)**  \n- Rule: Clear offer stacking, bonuses, and irresistible guarantees that reduce perceived risk; demonstrates why this is the only logical choice.  \n\n**Criteria 8 - Flow & Readability (0-20)**  \n- Rule: Smooth cognitive flow, logical sequencing, scannable formatting, strong visual hierarchy; reduces friction and overwhelm.  \n\n**Criteria 9 - Footer & Navigation Integrity (0-20)**  \n- Rule: Includes trust signals, contact info, compliance/legal data; footer should not sabotage conversions with distractions.  \n\n---\n\n### JSON Output Format\n\n\nReturn results strictly in the following JSON structure:\n\n{\n  \"Evaluation\": {\n    \"Criteria 1 - Hero Visual Design Score\": \"[0-20]\",\n    \"Criteria 1 - Hero Visual Design Explanation\": \"[One brutal line explanation]\",\n    \"Criteria 2 - Hero Headlines Score\": \"[0-20]\",\n    \"Criteria 2 - Hero Headlines Explanation\": \"[One brutal line explanation]\",\n    \"Criteria 3 - Hero Copy Score\": \"[0-20]\",\n    \"Criteria 3 - Hero Copy Explanation\": \"[One brutal line explanation]\",\n    \"Criteria 4 - Hero CTA Score\": \"[0-20]\",\n    \"Criteria 4 - Hero CTA Explanation\": \"[One brutal line explanation]\",\n    \"Criteria 5 - Hero Social Proof Score\": \"[0-20]\",\n    \"Criteria 5 - Hero Social Proof Explanation\": \"[One brutal line explanation]\",\n    \"Criteria 6 - Mid-Page Storytelling & Authority Score\": \"[0-20]\",\n    \"Criteria 6 - Mid-Page Storytelling & Authority Explanation\": \"[One brutal line explanation]\",\n    \"Criteria 7 - Offer & Risk Reversal Score\": \"[0-20]\",\n    \"Criteria 7 - Offer & Risk Reversal Explanation\": \"[One brutal line explanation]\",\n    \"Criteria 8 - Flow & Readability Score\": \"[0-20]\",\n    \"Criteria 8 - Flow & Readability Explanation\": \"[One brutal line explanation]\",\n    \"Criteria 9 - Footer & Navigation Integrity Score\": \"[0-20]\",\n    \"Criteria 9 - Footer & Navigation Integrity Explanation\": \"[One brutal line explanation]\"\n  },\n  \"Improvement Ideas\": [\n    \"[One brutal high-impact suggestion targeting the worst element]\",\n    \"[One brutal high-impact suggestion]\",\n    \"[One brutal high-impact suggestion]\"\n  ],\n  \"Great Elements\": [\n    \"[One concise observation of strength]\",\n    \"[One concise observation of strength]\",\n    \"[One concise observation of strength]\"\n  ],\n  \"Summary\": \"[Detailed paragraph describing all weaknesses and opportunities across the full page, structured as content for a persuasive email pitch. Must cover 3-Second Rule violations, weak headlines, lack of authority, bad offer/risk reversal, weak CTAs, and poor social proof.]\",\n  \"Score\": \"[Final total score (0-180) as a number only]\"\n}\n",
        "inputType": "binary",
        "simplify": false,
        "options": {
          "maxOutputTokens": 30000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        2064,
        -2176
      ],
      "id": "f257f211-268a-45ab-8a2f-88fab9d4ad0c",
      "name": "Desktop Full Page Website Analysis - GEMINI",
      "credentials": {
        "googlePalmApi": {
          "id": "D2RiEDSGL32dfqGg",
          "name": "Google Gemini(PaLM) Api- FUZAIL"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const rawOutputItem = $input.first().json;\n\nconst rawOutputText = rawOutputItem.candidates[0].content.parts[0].text;\n\nlet jsonString;\n\n// Match JSON inside ```json ... ``` or ``` ... ```\nconst match = rawOutputText.match(/```(?:json)?\\s*([\\s\\S]*?)\\s*```/i);\n\nif (match && match[1]) {\n  jsonString = match[1].trim();\n} else {\n  // If no markdown match, assume raw JSON\n  jsonString = rawOutputText.trim();\n}\n\nlet parsed;\n\ntry {\n  parsed = JSON.parse(jsonString);\n} catch (error) {\n  throw new Error(\"Failed to parse JSON from AI response. Raw content:\\n\" + rawOutputText);\n}\n\nreturn [{ json: parsed }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2304,
        -960
      ],
      "id": "7ca3dcbf-c7a0-4fb1-abf4-9edb09ae11b2",
      "name": "Parse AI Analysis Output into JSON2"
    },
    {
      "parameters": {
        "amount": "=7",
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1632,
        -960
      ],
      "id": "cf2b7a56-a1a3-4743-a8c2-977ebcbca035",
      "name": "Randomize Time2",
      "webhookId": "5d304f19-a9b0-4b42-ba15-71c3caa20f36",
      "disabled": true
    },
    {
      "parameters": {
        "amount": "=7",
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1600,
        -2512
      ],
      "id": "4568bde8-4e46-43c1-a79b-11b5706a0d86",
      "name": "Randomize Time3",
      "webhookId": "5d304f19-a9b0-4b42-ba15-71c3caa20f36",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const rawOutputItem = $input.first().json;\n\nconst rawOutputText = rawOutputItem.candidates[0].content.parts[0].text.trim();\n\nlet jsonString;\n\n// Regex to capture JSON inside ```json ... ``` or ``` ... ```\nconst match = rawOutputText.match(/```(?:json)?[\\r\\n]+([\\s\\S]*?)```/i);\n\nif (match && match[1]) {\n  jsonString = match[1].trim();\n} else {\n  // If no markdown match, assume raw JSON\n  jsonString = rawOutputText;\n}\n\nlet parsed;\n\ntry {\n  parsed = JSON.parse(jsonString);\n} catch (error) {\n  throw new Error(\"Failed to parse JSON from AI response.\\nExtracted string:\\n\" + jsonString);\n}\n\nreturn [{ json: parsed }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2288,
        -2512
      ],
      "id": "1494c199-3166-4e43-a293-600f6f4c1bbc",
      "name": "Parse AI Analysis Output into JSON3",
      "disabled": true
    },
    {
      "parameters": {
        "url": "=https://api.screenshotone.com/animate",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_key",
              "value": "={{ $vars.ScreenShotOne_TopRatedCoachAI_ACCESS_KEY }}"
            },
            {
              "name": "url",
              "value": "={{ $('Get Business details').item.json.website }}"
            },
            {
              "name": "format",
              "value": "mp4"
            },
            {
              "name": "block_ads",
              "value": "true"
            },
            {
              "name": "block_cookie_banners",
              "value": "true"
            },
            {
              "name": "block_banners_by_heuristics",
              "value": "true"
            },
            {
              "name": "block_trackers",
              "value": "true"
            },
            {
              "name": "delay",
              "value": "0"
            },
            {
              "name": "timeout",
              "value": "60"
            },
            {
              "name": "wait_until",
              "value": "load"
            },
            {
              "name": "device_scale_factor",
              "value": "1"
            },
            {
              "name": "wait_until",
              "value": "domcontentloaded"
            },
            {
              "name": "scenario",
              "value": "default"
            },
            {
              "name": "duration",
              "value": "5"
            },
            {
              "name": "viewport_has_touch",
              "value": "true"
            },
            {
              "name": "viewport_mobile",
              "value": "true"
            },
            {
              "name": "viewport_device",
              "value": "iphone_12_pro"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "secret-key",
              "value": "={{ $vars.ScreenShotOne_TopRatedCoachAI_SECRET }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "file"
            }
          },
          "timeout": 300000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1856,
        -960
      ],
      "id": "3379cc39-29a2-43ee-9b03-dab0199315f7",
      "name": "Take Video of Hero Section Mobile",
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=https://api.screenshotone.com/animate",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_key",
              "value": "={{ $vars.ScreenShotOne_TopRatedCoachAI_ACCESS_KEY }}"
            },
            {
              "name": "url",
              "value": "={{ $('Get Business details').item.json.website }}"
            },
            {
              "name": "format",
              "value": "mp4"
            },
            {
              "name": "block_ads",
              "value": "true"
            },
            {
              "name": "block_cookie_banners",
              "value": "true"
            },
            {
              "name": "block_banners_by_heuristics",
              "value": "true"
            },
            {
              "name": "block_trackers",
              "value": "true"
            },
            {
              "name": "delay",
              "value": "0"
            },
            {
              "name": "timeout",
              "value": "90"
            },
            {
              "name": "wait_until",
              "value": "load"
            },
            {
              "name": "device_scale_factor",
              "value": "1"
            },
            {
              "name": "wait_until",
              "value": "domcontentloaded"
            },
            {
              "name": "scenario",
              "value": "scroll"
            },
            {
              "name": "duration",
              "value": "30"
            },
            {
              "name": "viewport_has_touch",
              "value": "true"
            },
            {
              "name": "viewport_mobile",
              "value": "true"
            },
            {
              "name": "viewport_device",
              "value": "iphone_12_pro"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "secret-key",
              "value": "={{ $vars.ScreenShotOne_TopRatedCoachAI_SECRET }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "file"
            }
          },
          "timeout": 300000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1824,
        -2512
      ],
      "id": "e9a973dd-965f-48af-bb29-a84946601561",
      "name": "  Take Full Page Video - Mobile",
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "=Act as **CHET HOLMES**, the legendary strategist and author of *The Ultimate Sales Machine*. You are auditing the **MOBILE VERSION** of the full landing page screen recording for the business {{ $('Get Business details').item.json.business_name }}.\n\nYour tone must be **BRUTAL, HONEST**, and **focused solely on revenue-driving efficacy and conversion rates**.\n\nYour analysis must evaluate the **mobile landing page** as a self-contained *advertising machine* that must hook, persuade, and convert within **a 3-second mobile attention span**.\n\nEach evaluation area is scored **0 to 20**, where 0 = total failure and 20 = masterful execution.\n\n\n### Evaluation Areas (MOBILE VERSION)\n\n**Criteria 1 - Hero Section Visual Design (0-20)**\n\n* Rule: Must visually communicate the offer within the first mobile viewport — no scrolling required. The hero image or visual must reinforce the niche and value instantly.\n* If logo or irrelevant stock photo dominates the hero → score is 0.\n\n**Criteria 2 - Hero Section Headlines (0-20)**\n\n* Rule: Must fit cleanly within one to two mobile lines, legible without zooming, and deliver a clear, emotional benefit in under 3 seconds.\n\n**Criteria 3 - Hero Section Copy (0-20)**\n\n* Rule: Brevity is survival. Copy must be scannable, benefit-driven, and formatted for mobile readability (short paragraphs, line breaks, or bullets).\n\n**Criteria 4 - Hero Section CTA (0-20)**\n\n* Rule: CTA button must appear within the first scroll (ideally above the fold), be thumb-accessible, benefit-oriented, and repeated down the page.\n\n**Criteria 5 - Hero Section Social Proof (0-20)**\n\n* Rule: Ratings, testimonials, trust badges, or recognizable logos must be visible or one scroll away — not buried at the bottom.\n\n**Criteria 6 - Mid-Page Storytelling & Authority (0-20)**\n\n* Rule: Narrative should deepen trust with concise storytelling, clear visual hierarchy, and minimal text walls; highlight authority or credibility without breaking mobile flow.\n\n**Criteria 7 - Offer & Risk Reversal (0-20)**\n\n* Rule: Offer must be obvious, irresistibly stacked, and reinforced by guarantees or proof that reduce risk perception on mobile screens.\n\n**Criteria 8 - Flow & Readability (0-20)**\n\n* Rule: Smooth scrolling rhythm with generous spacing, clean hierarchy, and no cramped tap zones. Every swipe should build momentum, not friction.\n\n**Criteria 9 - Footer & Navigation Integrity (0-20)**\n\n* Rule: Compact, compliant, and trust-building — must include contact info and legal links without clutter or secondary menu overload.\n\n**Criteria 10 - Mobile Responsiveness & Load Speed (0-20)**\n\n* Rule: Page must load quickly (<3s), maintain stable layout, and avoid intrusive pop-ups or layout shifts that destroy first impressions.\n\n\n### JSON Output Format\n\n\nReturn results strictly in the following JSON structure:\n\n{\n  \"Evaluation\": {\n    \"Criteria 1 - Hero Visual Design Score\": \"[0-20]\",\n    \"Criteria 1 - Hero Visual Design Explanation\": \"[One brutal line explanation]\",\n    \"Criteria 2 - Hero Headlines Score\": \"[0-20]\",\n    \"Criteria 2 - Hero Headlines Explanation\": \"[One brutal line explanation]\",\n    \"Criteria 3 - Hero Copy Score\": \"[0-20]\",\n    \"Criteria 3 - Hero Copy Explanation\": \"[One brutal line explanation]\",\n    \"Criteria 4 - Hero CTA Score\": \"[0-20]\",\n    \"Criteria 4 - Hero CTA Explanation\": \"[One brutal line explanation]\",\n    \"Criteria 5 - Hero Social Proof Score\": \"[0-20]\",\n    \"Criteria 5 - Hero Social Proof Explanation\": \"[One brutal line explanation]\",\n    \"Criteria 6 - Mid-Page Storytelling & Authority Score\": \"[0-20]\",\n    \"Criteria 6 - Mid-Page Storytelling & Authority Explanation\": \"[One brutal line explanation]\",\n    \"Criteria 7 - Offer & Risk Reversal Score\": \"[0-20]\",\n    \"Criteria 7 - Offer & Risk Reversal Explanation\": \"[One brutal line explanation]\",\n    \"Criteria 8 - Flow & Readability Score\": \"[0-20]\",\n    \"Criteria 8 - Flow & Readability Explanation\": \"[One brutal line explanation]\",\n    \"Criteria 9 - Footer & Navigation Integrity Score\": \"[0-20]\",\n    \"Criteria 9 - Footer & Navigation Integrity Explanation\": \"[One brutal line explanation]\",\n    \"Criteria 10 - Mobile Responsiveness & Load Speed Score\": \"[0-20]\",\n    \"Criteria 10 - Mobile Responsiveness & Load Speed Explanation\": \"[One brutal line explanation]\"\n  },\n  \"Improvement Ideas\": [\n    \"[One brutal high-impact suggestion targeting the worst element]\",\n    \"[One brutal high-impact suggestion]\",\n    \"[One brutal high-impact suggestion]\"\n  ],\n  \"Great Elements\": [\n    \"[One concise observation of strength]\",\n    \"[One concise observation of strength]\",\n    \"[One concise observation of strength]\"\n  ],\n  \"Summary\": \"[Detailed paragraph describing all weaknesses and opportunities across the full mobile page. Must explain how mobile attention flow, visual sequencing, and scroll rhythm either support or sabotage conversions. Cover 3-Second Rule violations, weak headlines, poor CTA visibility, lack of authority or proof, unclear offers, and risk reversal issues. Write as if pitching a CRO overhaul — persuasive, sharp, and direct.]\",\n  \"Score\": \"[Final total score (0-200) as a number only]\"\n}",
        "inputType": "binary",
        "simplify": false,
        "options": {
          "maxOutputTokens": 30000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        2048,
        -2512
      ],
      "id": "a219d952-11ed-4449-a90a-28c3dfaf13a3",
      "name": "Mobile Full Page Website Analysis - GEMINI",
      "credentials": {
        "googlePalmApi": {
          "id": "D2RiEDSGL32dfqGg",
          "name": "Google Gemini(PaLM) Api- FUZAIL"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "=Act as CHET HOLMES, the legendary strategist and author of *The Ultimate Sales Machine*. You are auditing the HERO SECTION of the mobile version of the website for {{ $('Get Business details').item.json.business_name }} ({{ $('Get Business details').item.json.business_category }}).  \n\nYour tone must be BRUTAL, HONEST, and focused solely on revenue-driving efficacy and conversion rates.  \n\nYour analysis must view the Hero Section as a **standalone advertising piece** — not a design. Judge it by how fast it sells, builds trust, and commands action within the **first 3 seconds** on a **mobile device**.  \n\nGround your evaluation in **The 3-Second Rule** and **Chet Holmes’ 4 Rules for High-Response-Generating Advertising.**\n\n---\n\n### Evaluation Areas of MOBILE HERO SECTION (0–20 each)\n\n#### **Criteria 1 – Visual Design (0–20)**\n**Core Principle:** It Must Be Distinctive and Visually Communicate the Offer Instantly.  \n- Visuals must immediately communicate *what the business offers* without reading text.  \n- Must target the business’s specific niche ({{ $('Get Business details').item.json.business_category }}).  \n- Visual composition must be *optimized for mobile clarity* — fast-loading, emotionally resonant, not cluttered or cropped.  \n- If the hero uses a **logo** as the main image, score **0** here.  \n- Must pass the *3-Second Trust Test* on a small screen.\n\n#### **Criteria 2 – Headline (0–20)**\n**Core Principle:** Grab Attention and Communicate the Core Benefit in 3 Seconds.  \n- Headline must instantly tell the user *what’s in it for them* — not what the business does.  \n- Should be concise (under ~6 words) and visible **without scrolling**.  \n- Must use prospect-centric language (“you”, “your”) not “we”, “our”.  \n- Must create curiosity, relevance, or emotional impact even on a quick scroll.  \n- If the main headline is below the fold, deduct 5 points minimum.\n\n#### **Criteria 3 – Body Copy / Messaging (0–20)**\n**Core Principle:** Short, Benefit-Driven Copy Optimized for Small-Screen Readability.  \n- Copy must unfold the benefit story fast — focused on pain, desire, or transformation, not product specs.  \n- Must be visually scannable: short lines, proper spacing, clear font, and no walls of text.  \n- Use bullet points or mini-subheadlines for rapid reading.  \n- Copy must *keep thumbs still* — engaging enough that the user doesn’t scroll away.\n\n#### **Criteria 4 – Call to Action (0–20)**\n**Core Principle:** Visible, Thumb-Friendly, and Urgent.  \n- CTA must be **above the fold**, large enough to tap easily, and high contrast.  \n- Text must convey *benefit* (“Get My Free Plan”) not a command (“Submit”).  \n- Include urgency or scarcity: bonus, countdown, or limited availability.  \n- A secondary, lower-commitment CTA should exist for non-ready buyers (“Watch Demo”, “See Plans”).  \n- If primary CTA is hidden below fold or hard to tap — score under 10.\n\n#### **Criteria 5 – Social Proof & Conversion Integrity (0–20)**\n**Core Principle:** Establish Instant Trust Within the First Fold.  \n- Must display visible trust elements: testimonials, star ratings, badges, “As Seen In” logos, etc.  \n- Social proof should be seen **without scrolling** or easily accessible (e.g., micro-badges, sticky trust icons).  \n- Visual credibility must survive mobile compression — sharp, readable, no tiny text.  \n- Overall: would a cold visitor trust this brand within 3 seconds on mobile?\n\n---\n\n### Scoring Format\n\nReturn results strictly in the following JSON structure:\n\n{\n  \"Evaluation\": {\n    \"Criteria 1 - visual design in hero section Score\": \"[0–20]\",\n    \"Criteria 1 - visual design in hero section Explanation\": \"[1-line brutal summary]\",\n    \"Criteria 2 - headlines Score\": \"[0–20]\",\n    \"Criteria 2 - headlines Explanation\": \"[1-line brutal summary]\",\n    \"Criterion 3 - copy in the hero section Score\": \"[0–20]\",\n    \"Criterion 3 - copy in the hero section Explanation\": \"[1-line brutal summary]\",\n    \"Criteria 4 - Call to Action Score\": \"[0–20]\",\n    \"Criteria 4 - Call to Action Explanation\": \"[1-line brutal summary]\",\n    \"Criteria 5 - Social Proof Score\": \"[0–20]\",\n    \"Criteria 5 - Social Proof Explanation\": \"[1-line brutal summary]\"\n  },\n  \"Improvement Ideas\": [\n    \"[One brutal, high-impact suggestion focused on the weakest scoring element.]\",\n    \"[One distinct, high-impact suggestion to drive conversions.]\",\n    \"[One final improvement suggestion focused on mobile attention flow.]\"\n  ],\n  \"Great Elements\": [\n    \"[One concise observation about what’s working well.]\",\n    \"[One concise observation.]\",\n    \"[One concise observation.]\"\n  ],\n  \"Summary\": \"[A persuasive paragraph explaining how the current mobile hero fails the 3-Second Rule, lacks a screaming headline, relies too much on features, and fails to drive immediate action — written as a direct pitch to fix it fast for conversion growth.]\",\n  \"Score\": \"[Total out of 100]\"\n}",
        "inputType": "binary",
        "simplify": false,
        "options": {
          "maxOutputTokens": 30000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        2080,
        -960
      ],
      "id": "1de793f5-68e6-41d7-9c5e-0f75d96a54ab",
      "name": "Mobile Hero Section Website Analysis",
      "credentials": {
        "googlePalmApi": {
          "id": "D2RiEDSGL32dfqGg",
          "name": "Google Gemini(PaLM) Api- FUZAIL"
        }
      }
    },
    {
      "parameters": {
        "amount": "=7",
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1616,
        -336
      ],
      "id": "38aed95b-611f-4912-b0fc-623e106226ad",
      "name": "Randomize Time4",
      "webhookId": "5d304f19-a9b0-4b42-ba15-71c3caa20f36",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Deactivated! Screen record full website in Mobile view and Analyze using AI ",
        "height": 288,
        "width": 960,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1536,
        -2592
      ],
      "typeVersion": 1,
      "id": "bdea7653-1a05-4d28-a16d-55c4c4f06ea4",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Deactivated! Screen record full website in Desktop view and Analyze using AI ",
        "height": 288,
        "width": 960,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1536,
        -2272
      ],
      "typeVersion": 1,
      "id": "4c55ef50-4623-4921-a4cb-b07086d296c7",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Screen record full website in Mobile view and Analyze using AI ",
        "height": 320,
        "width": 960,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1552,
        -1072
      ],
      "typeVersion": 1,
      "id": "55def8ea-f66c-4cd6-8013-7899c5e62453",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Screen record full website in Desktop view and Analyze using AI ",
        "height": 320,
        "width": 960,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1552,
        -736
      ],
      "typeVersion": 1,
      "id": "72dc2ffb-8ded-49d5-9917-18a40297179d",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## PageSpeed Insights for Mobile and Desktop",
        "height": 560,
        "width": 960,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1552,
        -128
      ],
      "typeVersion": 1,
      "id": "3ed4f22f-761b-41b6-a8ba-3be0e87b9580",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "url": "=https://www.googleapis.com/pagespeedonline/v5/runPagespeed?url={{ $('Get Business details').item.json.website }}&key={{ $vars.PageSpeedInsightsAPI }}&strategy=mobile&category=performance&category=seo&category=accessibility&category=best-practices",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1616,
        208
      ],
      "id": "307a4a82-02eb-4e4c-b860-522c9e954c34",
      "name": "PageSpeed Insights - Mobile"
    },
    {
      "parameters": {
        "url": "=https://www.googleapis.com/pagespeedonline/v5/runPagespeed?url={{ $('Get Business details').item.json.website }}&key={{ $vars.PageSpeedInsightsAPI }}&strategy=desktop&category=performance&category=seo&category=accessibility&category=best-practices",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1616,
        -16
      ],
      "id": "b50cf216-efe3-4aa9-9043-107a70ba095a",
      "name": "PageSpeed Insights - Desktop"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f4e1dca4-1ac1-43a4-99fb-51ed2ca62ad4",
              "name": "originFallback",
              "value": "={{ $('PageSpeed Insights - Desktop').item.json.loadingExperience.origin_fallback }}",
              "type": "string"
            },
            {
              "id": "642d025d-5523-4c4e-b9f7-07736fe26288",
              "name": "websiteAnalyzed",
              "value": "={{  $('PageSpeed Insights - Desktop').item.json.loadingExperience.id }}",
              "type": "string"
            },
            {
              "id": "8663492e-4e24-4e03-a9fe-007d7052ea32",
              "name": "formFactor",
              "value": "={{  $('PageSpeed Insights - Desktop').item.json.lighthouseResult.configSettings.formFactor }}",
              "type": "string"
            },
            {
              "id": "42cf6835-b6b1-49ab-bb6b-d197067ebadb",
              "name": "performanceScore",
              "value": "={{  $('PageSpeed Insights - Desktop').item.json.lighthouseResult.categories.performance.score }}",
              "type": "string"
            },
            {
              "id": "498a3ba0-9db7-4854-9317-b665f21a9786",
              "name": "accessibilityScore",
              "value": "={{  $('PageSpeed Insights - Desktop').item.json.lighthouseResult.categories.accessibility.score }}",
              "type": "string"
            },
            {
              "id": "482dde3e-f743-40a9-87db-8892ea4750f7",
              "name": "bestPracticesScore",
              "value": "={{  $('PageSpeed Insights - Desktop').item.json.lighthouseResult.categories['best-practices'].score }}",
              "type": "string"
            },
            {
              "id": "8e5111c0-dc70-4198-b4e5-ea0c42041fd1",
              "name": "seoScore",
              "value": "={{  $('PageSpeed Insights - Desktop').item.json.lighthouseResult.categories.seo.score }}",
              "type": "string"
            },
            {
              "id": "079d0874-2218-44b8-bdc6-be8f42aabc4f",
              "name": "fullPageScreenshot",
              "value": "={{  $('PageSpeed Insights - Desktop').item.json.lighthouseResult.fullPageScreenshot.screenshot.data }}",
              "type": "string"
            },
            {
              "id": "a4da8fca-1ccb-46f3-a7e7-d0c8c4316cd8",
              "name": "fullPageScreenshotWidth",
              "value": "={{  $('PageSpeed Insights - Desktop').item.json.lighthouseResult.fullPageScreenshot.screenshot.width }}",
              "type": "string"
            },
            {
              "id": "b3cbdb65-da2a-47af-b413-2b4493dd29a1",
              "name": "fullPageScreenshotHeight",
              "value": "={{  $('PageSpeed Insights - Desktop').item.json.lighthouseResult.fullPageScreenshot.screenshot.height }}",
              "type": "string"
            },
            {
              "id": "e24172b3-af1a-4dc3-8990-b22fc8f066a9",
              "name": "analysisConductedAtUTC",
              "value": "={{  $('PageSpeed Insights - Desktop').item.json.analysisUTCTimestamp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1840,
        -16
      ],
      "id": "2f134c8c-d3d7-4267-a25b-3bcaae916097",
      "name": "Make Json Desktop"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f4e1dca4-1ac1-43a4-99fb-51ed2ca62ad4",
              "name": "originFallback",
              "value": "={{ $('PageSpeed Insights - Mobile').item.json.loadingExperience.origin_fallback }}",
              "type": "string"
            },
            {
              "id": "642d025d-5523-4c4e-b9f7-07736fe26288",
              "name": "websiteAnalyzed",
              "value": "={{ $('PageSpeed Insights - Mobile').item.json.loadingExperience.id }}",
              "type": "string"
            },
            {
              "id": "8663492e-4e24-4e03-a9fe-007d7052ea32",
              "name": "formFactor",
              "value": "={{ $('PageSpeed Insights - Mobile').item.json.lighthouseResult.configSettings.formFactor }}",
              "type": "string"
            },
            {
              "id": "42cf6835-b6b1-49ab-bb6b-d197067ebadb",
              "name": "performanceScore",
              "value": "={{ $('PageSpeed Insights - Mobile').item.json.lighthouseResult.categories.performance.score }}",
              "type": "string"
            },
            {
              "id": "498a3ba0-9db7-4854-9317-b665f21a9786",
              "name": "accessibilityScore",
              "value": "={{ $('PageSpeed Insights - Mobile').item.json.lighthouseResult.categories.accessibility.score }}",
              "type": "string"
            },
            {
              "id": "482dde3e-f743-40a9-87db-8892ea4750f7",
              "name": "bestPracticesScore",
              "value": "={{ $('PageSpeed Insights - Mobile').item.json.lighthouseResult.categories['best-practices'].score }}",
              "type": "string"
            },
            {
              "id": "8e5111c0-dc70-4198-b4e5-ea0c42041fd1",
              "name": "seoScore",
              "value": "={{ $('PageSpeed Insights - Mobile').item.json.lighthouseResult.categories.seo.score }}",
              "type": "string"
            },
            {
              "id": "079d0874-2218-44b8-bdc6-be8f42aabc4f",
              "name": "fullPageScreenshot",
              "value": "={{ $('PageSpeed Insights - Mobile').item.json.lighthouseResult.fullPageScreenshot.screenshot.data }}",
              "type": "string"
            },
            {
              "id": "a4da8fca-1ccb-46f3-a7e7-d0c8c4316cd8",
              "name": "fullPageScreenshotWidth",
              "value": "={{ $('PageSpeed Insights - Mobile').item.json.lighthouseResult.fullPageScreenshot.screenshot.width }}",
              "type": "string"
            },
            {
              "id": "b3cbdb65-da2a-47af-b413-2b4493dd29a1",
              "name": "fullPageScreenshotHeight",
              "value": "={{ $('PageSpeed Insights - Mobile').item.json.lighthouseResult.fullPageScreenshot.screenshot.height }}",
              "type": "string"
            },
            {
              "id": "e24172b3-af1a-4dc3-8990-b22fc8f066a9",
              "name": "analysisConductedAtUTC",
              "value": "={{ $('PageSpeed Insights - Mobile').item.json.analysisUTCTimestamp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1840,
        208
      ],
      "id": "7a83ff6a-30ea-431f-9281-e06215024dcf",
      "name": "Make Json Mobile"
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorId": {
          "__rl": true,
          "value": "ADrtCX6ErB75TaMTm",
          "mode": "list",
          "cachedResultName": "Web Accessibility Scanner (accessibility_team/a11y-scanner-public)",
          "cachedResultUrl": "https://console.apify.com/actors/ADrtCX6ErB75TaMTm/input"
        },
        "customBody": "={\n  \"loginPage\": false,\n  \"scanAllPages\": true,\n  \"startUrls\": [\n    {\n      \"url\": \"{{ $('Get Business details').item.json.website }}\"\n    }\n  ]\n}",
        "timeout": 1800,
        "memory": 4096,
        "build": "="
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        1632,
        528
      ],
      "id": "2a1a6ff5-8b6a-40e0-a4e3-0f4d0d1763fc",
      "name": "Run an Actor and get dataset",
      "credentials": {
        "apifyApi": {
          "id": "AL6GEX6iExFtZKiY",
          "name": "Fuzail APIFY Credentials TopRatedCoach"
        }
      }
    },
    {
      "parameters": {
        "content": "## ADA Compliance Check by APIFY Actor",
        "height": 272,
        "width": 1472,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1552,
        448
      ],
      "typeVersion": 1,
      "id": "e5f700f5-3969-493d-8466-8923e3053ffe",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "=output",
        "options": {
          "fileName": "ADA Report"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2304,
        528
      ],
      "id": "79cd1661-bab4-468e-923d-0ca0a665faac",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8f1e7515-4721-48b5-83c1-581a64127d37",
              "name": "output",
              "value": "={{ JSON.stringify($('Aggregate').item.json.data) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2080,
        528
      ],
      "id": "7e0aee1d-a424-4464-a9e5-8030afece514",
      "name": "Edit Fields",
      "executeOnce": true
    },
    {
      "parameters": {
        "resource": "document",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "=You are a WCAG 2.1 AA Compliance Auditor, ADA Legal Risk Analyst, and Accessibility Remediation Expert.\nYour task is to perform a brutally honest, objective, and highly detailed review of the provided JSON-formatted website accessibility report.\nThis report contains automated scan results including `criticalErrors`, `contrastErrors`, and `warnings` for multiple pages.\n\nYour entire output must be a single JSON object with the structure defined below.\nThe analysis must explicitly connect technical failures to their potential legal and user impact.\n\nAnalysis & Scoring Methodology\n\n1. Strict Adherence to WCAG 2.1 AA\n   All critical and contrast errors are presumed to be failures of WCAG 2.1 Level A or AA success criteria, which are the basis for most ADA and international accessibility litigation.\n\n2. Brutal Scoring\n   The scoring system must heavily penalize systemic failures of core accessibility principles (Perceivable, Operable, Understandable, Robust).\n\n   * Level A Violations (`criticalErrors`): These are absolute barriers and represent the highest legal risk. Penalize these the most severely.\n   * Level AA Violations (`contrastErrors`, Reflow Issues): These represent direct failures to meet the AA standard. Penalize these significantly.\n   * Warnings (Semantic Issues, Best Practice): Penalize issues that degrade the user experience or indicate poor semantic structure, as they often lead to secondary accessibility problems.\n\n3. Key Insights\n   Focus the insights on systemic failures (errors repeating across multiple pages) and the immediate risk of litigation due to non-compliance.\n\n\nRequired JSON Output Structure (Below is sample json of what keys would be there and what is expected values of those keys, the JSON keys and Structure is critical and should be followed exactly):\n\n{\n  \"website_analysis_summary\": {\n    \"url_scanned\": \"[Primary Domain/Root URL of the report]\",\n    \"pages_reviewed\": \"[Total number of unique URLs with scan results]\",\n    \"total_critical_errors_a_violations\": \"[Total count of all criticalErrors across all pages]\",\n    \"total_contrast_errors_aa_violations\": \"[Total count of all contrastErrors across all pages]\",\n    \"total_warnings\": \"[Total count of all warnings across all pages]\"\n  },\n  \"accessibility_score\": {\n    \"score_out_of_100\": \"[Integer score from 0-100, based on brutal scoring logic]\",\n    \"legal_risk_assessment\": \"[Severity level: 'Extreme Risk', 'High Risk', 'Moderate Risk', 'Low Risk']\",\n    \"justification\": \"A concise explanation of the scoring and risk assessment, explicitly citing the most egregious and systemic WCAG failures (e.g., Skip Links, Alt Text, Contrast) and their legal implications (ADA/WCAG Lawsuits).\"\n  },\n  \"key_insights_for_website_owner\": {\n    \"systemic_failures\": [\n      \"Description of the most frequently repeated critical error, its WCAG code, and the type of user it impacts (e.g., keyboard users, screen reader users).\",\n      \"Description of the second most critical systemic issue and why it constitutes a core failure of an Operable or Perceivable principle.\",\n      \"Summary of all Level AA failures (e.g., contrast, reflow) and the legal requirement they violate.\"\n    ],\n    \"immediate_remediation_priorities\": [\n      \"Priority 1: The single most important fix to avoid an immediate lawsuit, including a technical recommendation.\",\n      \"Priority 2: The next most important fix, addressing semantic structure or navigation.\",\n      \"Priority 3: Addressing non-compliance related to visual design (e.g., contrast).\"\n    ]\n  },\n  \"detailed_error_breakdown\": {\n    \"level_a_failures\": {\n      \"Principle2.Guideline2_4.2_4_1.G1,G123,G124.NoSuchId\": \"Failure of the 'Skip to Main Content' link target (WCAG 2.4.1 Bypass Blocks, Level A). This prevents keyboard-only users from efficiently navigating, a primary cause of lawsuits. [Count]\",\n      \"Principle4.Guideline4_1.4_1_2.H91.A.NoContent\": \"Empty anchor elements used for site logos (WCAG 2.4.4 Link Purpose, Level A). Screen readers cannot convey the link's destination/purpose. [Count]\",\n      \"Principle1.Guideline1_1.1_1_1.H37/H30.2\": \"Missing 'alt' attributes on images (WCAG 1.1.1 Non-text Content, Level A). Content is inaccessible to blind users. [Count]\"\n    },\n    \"level_aa_failures\": {\n      \"Principle1.Guideline1_4.1_4_3.G18_or_G145.Fail\": \"Text/background color contrast ratio failure (WCAG 1.4.3 Contrast Minimum, Level AA). Makes content unreadable for users with low vision. [Count]\",\n      \"Principle1.Guideline1_4.1_4_10_C32,C31,C33,C38,SCR34,G206.Fixed\": \"Use of 'position: fixed' elements (WCAG 1.4.10 Reflow, Level AA). Can interfere with required two-dimensional scrolling when content is zoomed.\"\n    }\n  }\n}",
        "inputType": "binary",
        "binaryPropertyName": "=data",
        "simplify": false,
        "options": {
          "maxOutputTokens": 3000000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        2528,
        528
      ],
      "id": "31bae2eb-1951-46b5-b3ed-afe111bb2a33",
      "name": "Analyze document",
      "executeOnce": false,
      "credentials": {
        "googlePalmApi": {
          "id": "D2RiEDSGL32dfqGg",
          "name": "Google Gemini(PaLM) Api- FUZAIL"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {
          "includeBinaries": true
        }
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1856,
        528
      ],
      "id": "7be15545-2e44-495c-9d4d-96c5ff1c3dbe",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "jsCode": "const rawOutputItem = $input.first().json;\n\nconst rawOutputText = rawOutputItem.candidates[0].content.parts[0].text;\n\nlet jsonString;\n\n// Match JSON inside ```json ... ``` or ``` ... ```\nconst match = rawOutputText.match(/```(?:json)?\\s*([\\s\\S]*?)\\s*```/i);\n\nif (match && match[1]) {\n  jsonString = match[1].trim();\n} else {\n  // If no markdown match, assume raw JSON\n  jsonString = rawOutputText.trim();\n}\n\nlet parsed;\n\ntry {\n  parsed = JSON.parse(jsonString);\n} catch (error) {\n  throw new Error(\"Failed to parse JSON from AI response. Raw content:\\n\" + rawOutputText);\n}\n\nreturn [{ json: parsed }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2752,
        528
      ],
      "id": "b64b5b25-1094-42e8-bf99-4ba88874e27f",
      "name": "Parse AI Analysis Output into JSON4"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get Business details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Text Cleaning": {
      "main": [
        [
          {
            "node": "HTML Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Website Text Scraping": {
      "main": [
        [
          {
            "node": "HTML For Services",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML For Services": {
      "main": [
        [
          {
            "node": "HTML Text Cleaning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Analysis": {
      "main": [
        [
          {
            "node": "Extract JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Business details": {
      "main": [
        [
          {
            "node": "Run an Actor and get dataset",
            "type": "main",
            "index": 0
          },
          {
            "node": "PageSpeed Insights - Mobile",
            "type": "main",
            "index": 0
          },
          {
            "node": "PageSpeed Insights - Desktop",
            "type": "main",
            "index": 0
          },
          {
            "node": "Randomize Time4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Randomize Time",
            "type": "main",
            "index": 0
          },
          {
            "node": "Randomize Time2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Take Video of Hero Section Desktop": {
      "main": [
        [
          {
            "node": "Desktop Hero Section Website Analysis - GEMINI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Desktop Hero Section Website Analysis - GEMINI": {
      "main": [
        [
          {
            "node": "Parse AI Analysis Output into JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Randomize Time": {
      "main": [
        [
          {
            "node": "Take Video of Hero Section Desktop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Randomize Time1": {
      "main": [
        [
          {
            "node": "  Take Full Page Video - Desktop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "  Take Full Page Video - Desktop": {
      "main": [
        [
          {
            "node": "Desktop Full Page Website Analysis - GEMINI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Desktop Full Page Website Analysis - GEMINI": {
      "main": [
        [
          {
            "node": "Parse AI Analysis Output into JSON1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Randomize Time2": {
      "main": [
        [
          {
            "node": "Take Video of Hero Section Mobile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Randomize Time3": {
      "main": [
        [
          {
            "node": "  Take Full Page Video - Mobile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Take Video of Hero Section Mobile": {
      "main": [
        [
          {
            "node": "Mobile Hero Section Website Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "  Take Full Page Video - Mobile": {
      "main": [
        [
          {
            "node": "Mobile Full Page Website Analysis - GEMINI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mobile Full Page Website Analysis - GEMINI": {
      "main": [
        [
          {
            "node": "Parse AI Analysis Output into JSON3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mobile Hero Section Website Analysis": {
      "main": [
        [
          {
            "node": "Parse AI Analysis Output into JSON2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Analysis Output into JSON3": {
      "main": [
        []
      ]
    },
    "Randomize Time4": {
      "main": [
        [
          {
            "node": "Website Text Scraping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PageSpeed Insights - Mobile": {
      "main": [
        [
          {
            "node": "Make Json Mobile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PageSpeed Insights - Desktop": {
      "main": [
        [
          {
            "node": "Make Json Desktop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run an Actor and get dataset": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Analyze document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze document": {
      "main": [
        [
          {
            "node": "Parse AI Analysis Output into JSON4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "7e1a71e7-9bf3-48ae-872e-e60a9d82811d",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-09-25T10:43:47.716Z",
      "updatedAt": "2025-09-25T10:43:47.716Z",
      "role": "workflow:owner",
      "workflowId": "EfYDJOTVlmhYLVkb",
      "projectId": "LuK1n39yspgZn4ID",
      "project": {
        "createdAt": "2025-06-03T10:24:12.778Z",
        "updatedAt": "2025-06-03T11:30:21.622Z",
        "id": "LuK1n39yspgZn4ID",
        "name": "Fuzail Sohail <fuzailsohail40@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-06-03T10:24:12.781Z",
            "updatedAt": "2025-06-03T10:24:12.781Z",
            "userId": "9ba5b413-59b6-4d30-ad4b-75763cd3a374",
            "projectId": "LuK1n39yspgZn4ID",
            "user": {
              "createdAt": "2025-06-03T10:24:12.776Z",
              "updatedAt": "2025-10-27T04:00:00.000Z",
              "id": "9ba5b413-59b6-4d30-ad4b-75763cd3a374",
              "email": "fuzailsohail40@gmail.com",
              "firstName": "Fuzail",
              "lastName": "Sohail",
              "personalizationAnswers": null,
              "settings": {
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "CcHBrELrSsWhXNYT",
                "userActivated": true,
                "userActivatedAt": 1750330808510,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1753277941726
                }
              },
              "disabled": false,
              "mfaEnabled": true,
              "lastActiveAt": "2025-10-27",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "createdAt": "2025-08-14T20:27:52.072Z",
      "updatedAt": "2025-08-14T20:27:52.072Z",
      "id": "CbQQ2nfApBR0i0Ru",
      "name": "TopRatedCoachAI"
    }
  ]
}