backups/top-rated-coach-ai/IvMoXyRIEG3DquxY.json
{
  "createdAt": "2025-07-17T10:13:17.173Z",
  "updatedAt": "2025-09-12T11:05:59.000Z",
  "id": "IvMoXyRIEG3DquxY",
  "name": "Summarize Old User Messages (COMPLETED)",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.text }}",
        "options": {
          "systemMessage": "=Analyze and summarize the following business coaching conversation in a way that can serve as persistent long-term memory for future interactions.\n\nYour summary must:\n\n    Preserve the user’s core business goals, aspirations, and motivations\n\n    Highlight all key questions, requests, and the reasoning behind them\n\n    Identify the user’s challenges, blockers, constraints, or emotional friction\n\n    Capture the tone and sentiment of both the user and the AI at various points\n\n    Reflect AI suggestions, rationale, counterpoints, and strategic thinking\n\n    Note all user decisions, preferences, rejections, and accepted advice\n\n    Include any patterns in behavior, communication, or priorities\n\nOutput should be detailed but concise — focused on what matters most for understanding the user's intent, mindset, and evolution across the session. This memory may be retrieved in future to guide tone, suggestions, or follow-ups, so avoid generic summaries and retain all useful nuance."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        224,
        -96
      ],
      "id": "ce8f50ed-97ef-40af-832a-d97abf7d9082",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        320,
        128
      ],
      "id": "5418b735-0422-40d7-bc87-bf72c7348a17",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "GwlwzOiOthioGCVV",
          "name": "OpenAI TOP RATED COACH API KEY"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "return items.map(item => {\n  item.json.text = item.json.text?.replace(/\\s+/g, ' ').trim();\n  return item;\n});"
      },
      "id": "da736806-efba-43e0-95ac-70144c775d14",
      "name": "Sanitize Text",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        608,
        -96
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "chat_archived_summaries",
          "mode": "list",
          "cachedResultName": "chat_archived_summaries"
        },
        "embeddingBatchSize": 10,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        816,
        -96
      ],
      "id": "fb6bd76f-8dd9-4b67-afa5-2074200797a4",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "cCj3Ge07dU8ItSe7",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        720,
        128
      ],
      "id": "2627c3d1-715d-4b49-a978-ec904650ad7d",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "GwlwzOiOthioGCVV",
          "name": "OpenAI TOP RATED COACH API KEY"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $('Sanitize Text').item.json.output }}",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "user_id",
                "value": "={{ $('Get User Messages After 30 New Messages b/w User and AI').item.json.body.user_id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        976,
        128
      ],
      "id": "0a66f547-e998-4ec3-b498-4cea6ca95c61",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 80,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1072,
        352
      ],
      "id": "9f8d61b5-e80f-4f94-a17e-5949ed8e8512",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "summarize_and_vectorize_chat",
        "authentication": "headerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        -96
      ],
      "id": "611f5639-019e-4656-9a45-54e5c6d0a49c",
      "name": "Get User Messages After 30 New Messages b/w User and AI",
      "webhookId": "28cae751-c4f0-41e1-8dc0-855e6bc99f37",
      "credentials": {
        "httpHeaderAuth": {
          "id": "XN2wz67KBUO7399v",
          "name": "Supabase-TopRatedCoach-AuthenticationHeader"
        }
      }
    }
  ],
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Sanitize Text": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Sanitize Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Get User Messages After 30 New Messages b/w User and AI": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "ccdbbe28-a50d-463a-bfed-bed9e207adb7",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-07-17T10:13:17.177Z",
      "updatedAt": "2025-07-17T10:13:17.177Z",
      "role": "workflow:owner",
      "workflowId": "IvMoXyRIEG3DquxY",
      "projectId": "LuK1n39yspgZn4ID",
      "project": {
        "createdAt": "2025-06-03T10:24:12.778Z",
        "updatedAt": "2025-06-03T11:30:21.622Z",
        "id": "LuK1n39yspgZn4ID",
        "name": "Fuzail Sohail <fuzailsohail40@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-06-03T10:24:12.781Z",
            "updatedAt": "2025-06-03T10:24:12.781Z",
            "userId": "9ba5b413-59b6-4d30-ad4b-75763cd3a374",
            "projectId": "LuK1n39yspgZn4ID",
            "user": {
              "createdAt": "2025-06-03T10:24:12.776Z",
              "updatedAt": "2025-10-17T07:00:00.000Z",
              "id": "9ba5b413-59b6-4d30-ad4b-75763cd3a374",
              "email": "fuzailsohail40@gmail.com",
              "firstName": "Fuzail",
              "lastName": "Sohail",
              "personalizationAnswers": null,
              "settings": {
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "CcHBrELrSsWhXNYT",
                "userActivated": true,
                "userActivatedAt": 1750330808510,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1753277941726
                }
              },
              "disabled": false,
              "mfaEnabled": true,
              "lastActiveAt": "2025-10-17",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "createdAt": "2025-08-14T20:27:52.072Z",
      "updatedAt": "2025-08-14T20:27:52.072Z",
      "id": "CbQQ2nfApBR0i0Ru",
      "name": "TopRatedCoachAI"
    }
  ]
}