backups/top-rated-coach-ai/sT8U3ZSacStxBYdJ.json
{
  "createdAt": "2025-09-25T14:55:53.036Z",
  "updatedAt": "2025-10-28T05:30:54.000Z",
  "id": "sT8U3ZSacStxBYdJ",
  "name": "Delete Template Business (DANGER)",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1408,
        544
      ],
      "id": "a5a82100-9b5e-4343-b727-ea74ae56ff6c",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "={{$vars.SupabaseDBUrl}}/businesses",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "=eq.Fuzail Fitness"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$vars.Supabase_API_Key}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.Supabase_Service_Role }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1136,
        528
      ],
      "id": "664d586c-6eac-4890-bf14-348681de5bb8",
      "name": "GET Businesses",
      "executeOnce": false
    },
    {
      "parameters": {
        "url": "={{$vars.SupabaseDBUrl}}/calls",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "business_id",
              "value": "=eq.{{ $('GET Businesses').item.json.id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$vars.Supabase_API_Key}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.Supabase_Service_Role }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -464,
        528
      ],
      "id": "42c114d5-936c-4ed3-beb0-aec4adbe6ea2",
      "name": "GET Calls",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "={{$vars.SupabaseDBUrl}}/generated_call_reports",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "business_id",
              "value": "=eq.{{ $('GET Businesses').item.json.id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$vars.Supabase_API_Key}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.Supabase_Service_Role }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        528
      ],
      "id": "b66bbc12-3e50-4184-a850-7f619c52ae72",
      "name": "Delete GeneratedCallReports",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "={{$vars.SupabaseDBUrl}}/task_groups",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "business_id",
              "value": "=eq.{{ $('GET Businesses').item.json.id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$vars.Supabase_API_Key}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.Supabase_Service_Role }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        896,
        528
      ],
      "id": "663fbc58-5ef2-41e6-adc1-29517770e7be",
      "name": "Delete TaskGroups",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "={{$vars.SupabaseDBUrl}}/generated_call_reports",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "business_id",
              "value": "=eq.{{ $('GET Businesses').item.json.id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$vars.Supabase_API_Key}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.Supabase_Service_Role }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -912,
        528
      ],
      "id": "ef052aab-54a4-4aad-a48c-165fd05e888b",
      "name": "Get GeneratedCallReports",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "={{$vars.SupabaseDBUrl}}/task_groups",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "business_id",
              "value": "=eq.{{ $('GET Businesses').item.json.id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$vars.Supabase_API_Key}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.Supabase_Service_Role }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        528
      ],
      "id": "cb3b0862-9f5e-47ff-b7a3-95f55fe0b1b3",
      "name": "Get TaskGroups",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "={{$vars.SupabaseDBUrl}}/calls",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "business_id",
              "value": "=eq.{{ $('GET Businesses').item.json.id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$vars.Supabase_API_Key}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.Supabase_Service_Role }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -240,
        528
      ],
      "id": "80b0d188-6dad-4f81-8a59-402d4e277dd1",
      "name": "Delete Calls",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "={{$vars.SupabaseDBUrl}}/call_transcripts",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "call_id",
              "value": "=eq.{{ $('GET Calls').item.json.id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$vars.Supabase_API_Key}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.Supabase_Service_Role }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -16,
        528
      ],
      "id": "fab7daa1-4fc5-41f9-abb1-15c3a12e902a",
      "name": "Delete Call Transcripts",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "={{$vars.SupabaseDBUrl}}/audits",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "business_id",
              "value": "=eq.{{ $('GET Businesses').item.json.id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$vars.Supabase_API_Key}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.Supabase_Service_Role }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1344,
        528
      ],
      "id": "574045b6-2c02-415d-934c-a1cedafa2746",
      "name": "Delete Audits",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "={{$vars.SupabaseDBUrl}}/call_questions",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "report_id",
              "value": "=eq.{{ $('Get GeneratedCallReports').item.json.id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$vars.Supabase_API_Key}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.Supabase_Service_Role }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -688,
        528
      ],
      "id": "89ef2726-1b85-45b6-8593-0972ca78a48d",
      "name": "Delete Questionaires",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "={{$vars.SupabaseDBUrl}}/micro_tasks",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "task_group_id",
              "value": "=eq.{{ $('Get TaskGroups').item.json.id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$vars.Supabase_API_Key}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.Supabase_Service_Role }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        672,
        528
      ],
      "id": "0456de0d-b702-4f3d-847c-4000b162237c",
      "name": "Delete MicroTasks",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{$vars.SupabaseDBUrl}}/businesses",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "=eq.{{ $('GET Businesses').item.json.id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$vars.Supabase_API_Key}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.Supabase_Service_Role }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "current_audit_id",
              "value": "={{ null }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        528
      ],
      "id": "b9f58cbe-b624-4c66-8983-63475ab49bbe",
      "name": "Remove Audit ID of Businesses",
      "executeOnce": false
    },
    {
      "parameters": {
        "url": "={{$vars.SupabaseDBUrl}}/businesses",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "created_at",
              "value": "gt.2025-10-08 15:06:36.874865+00"
            },
            {
              "name": "country_code",
              "value": "in.(US,CA)"
            },
            {
              "name": "phone_number",
              "value": "not.is.null"
            },
            {
              "name": "select",
              "value": "id,business_name,phone_number,country_code"
            },
            {
              "name": "current_audit_id",
              "value": "not.is.null"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$vars.Supabase_API_Key}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.Supabase_Service_Role }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -992,
        800
      ],
      "id": "14f46e1e-29bc-4afa-8833-8eb2c732cd1a",
      "name": "List UnAudited US/CA Businesses",
      "disabled": true
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "={{$vars.SupabaseDBUrl}}/task_groups",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "audit_id",
              "value": "=eq.{{ $('Get UnRUn AUdits ').item.json.id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$vars.Supabase_API_Key}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.Supabase_Service_Role }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -96,
        800
      ],
      "id": "ba8068ab-130c-466b-b91a-8ffe76521788",
      "name": "Delete TaskGroups1",
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "url": "={{$vars.SupabaseDBUrl}}/task_groups",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "business_id",
              "value": "=eq.{{ $('List UnAudited US/CA Businesses').item.json.id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$vars.Supabase_API_Key}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.Supabase_Service_Role }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -864,
        1056
      ],
      "id": "6b1810a6-7307-462a-a8f3-26a8206b37c3",
      "name": "Get TaskGroups1",
      "alwaysOutputData": true,
      "disabled": true
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "={{$vars.SupabaseDBUrl}}/audits",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "=eq.{{ $('Get UnRUn AUdits ').item.json.id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$vars.Supabase_API_Key}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.Supabase_Service_Role }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        352,
        800
      ],
      "id": "4c9adcdf-7fe5-4e9e-8f9d-7f48eb005d47",
      "name": "Delete Audits1",
      "alwaysOutputData": false,
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "={{$vars.SupabaseDBUrl}}/micro_tasks",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "task_group_id",
              "value": "=eq.{{ $('Get TaskGroups1').item.json.id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$vars.Supabase_API_Key}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.Supabase_Service_Role }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -640,
        1056
      ],
      "id": "cc6c47fd-e71a-4ac8-ac9c-ad08f34a399b",
      "name": "Delete MicroTasks1",
      "alwaysOutputData": true,
      "disabled": true
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{$vars.SupabaseDBUrl}}/businesses",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "current_audit_id",
              "value": "=eq.{{ $('Get UnRUn AUdits ').item.json.id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$vars.Supabase_API_Key}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.Supabase_Service_Role }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "current_audit_id",
              "value": "={{ null }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        128,
        800
      ],
      "id": "74080acd-75a3-4ed0-8ca5-e5332784d4f6",
      "name": "Remove Audit ID of Businesses1",
      "executeOnce": false,
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "url": "={{$vars.SupabaseDBUrl}}/audits",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "created_at",
              "value": "gt.2025-10-08 15:06:36.874865+00"
            },
            {
              "name": "select",
              "value": "id"
            },
            {
              "name": "status",
              "value": "eq.pending"
            },
            {
              "name": "limit",
              "value": "200"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$vars.Supabase_API_Key}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.Supabase_Service_Role }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -320,
        768
      ],
      "id": "ebf0fe36-d7d2-431a-8e44-08763b76a2fb",
      "name": "Get UnRUn AUdits "
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "GET Businesses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Calls": {
      "main": [
        [
          {
            "node": "Delete Calls",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete GeneratedCallReports": {
      "main": [
        [
          {
            "node": "Get TaskGroups",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete TaskGroups": {
      "main": [
        [
          {
            "node": "Remove Audit ID of Businesses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get GeneratedCallReports": {
      "main": [
        [
          {
            "node": "Delete Questionaires",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get TaskGroups": {
      "main": [
        [
          {
            "node": "Delete MicroTasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Calls": {
      "main": [
        [
          {
            "node": "Delete Call Transcripts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Call Transcripts": {
      "main": [
        [
          {
            "node": "Delete GeneratedCallReports",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Questionaires": {
      "main": [
        [
          {
            "node": "GET Calls",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete MicroTasks": {
      "main": [
        [
          {
            "node": "Delete TaskGroups",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Audit ID of Businesses": {
      "main": [
        [
          {
            "node": "Delete Audits",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List UnAudited US/CA Businesses": {
      "main": [
        []
      ]
    },
    "Delete TaskGroups1": {
      "main": [
        [
          {
            "node": "Remove Audit ID of Businesses1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get TaskGroups1": {
      "main": [
        [
          {
            "node": "Delete MicroTasks1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete MicroTasks1": {
      "main": [
        []
      ]
    },
    "Remove Audit ID of Businesses1": {
      "main": [
        [
          {
            "node": "Delete Audits1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get UnRUn AUdits ": {
      "main": [
        [
          {
            "node": "Delete TaskGroups1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Businesses": {
      "main": [
        [
          {
            "node": "Get GeneratedCallReports",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "d5e2c55f-5f3e-4f17-8fa5-3a25184b9fb4",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-09-25T14:55:53.040Z",
      "updatedAt": "2025-09-25T14:55:53.040Z",
      "role": "workflow:owner",
      "workflowId": "sT8U3ZSacStxBYdJ",
      "projectId": "LuK1n39yspgZn4ID",
      "project": {
        "createdAt": "2025-06-03T10:24:12.778Z",
        "updatedAt": "2025-06-03T11:30:21.622Z",
        "id": "LuK1n39yspgZn4ID",
        "name": "Fuzail Sohail <fuzailsohail40@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-06-03T10:24:12.781Z",
            "updatedAt": "2025-06-03T10:24:12.781Z",
            "userId": "9ba5b413-59b6-4d30-ad4b-75763cd3a374",
            "projectId": "LuK1n39yspgZn4ID",
            "user": {
              "createdAt": "2025-06-03T10:24:12.776Z",
              "updatedAt": "2025-10-28T04:00:21.000Z",
              "id": "9ba5b413-59b6-4d30-ad4b-75763cd3a374",
              "email": "fuzailsohail40@gmail.com",
              "firstName": "Fuzail",
              "lastName": "Sohail",
              "personalizationAnswers": null,
              "settings": {
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "CcHBrELrSsWhXNYT",
                "userActivated": true,
                "userActivatedAt": 1750330808510,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1753277941726
                }
              },
              "disabled": false,
              "mfaEnabled": true,
              "lastActiveAt": "2025-10-28",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "createdAt": "2025-08-14T20:27:52.072Z",
      "updatedAt": "2025-08-14T20:27:52.072Z",
      "id": "CbQQ2nfApBR0i0Ru",
      "name": "TopRatedCoachAI"
    }
  ]
}